/* .fullPageNav {
  position: fixed;
  right: 20px;
  z-index: 1;
  width: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullPageNav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fullPageNav button {
  width: 4px;
  height: 60px;
  display: block;
  background-color: #c35427;
  color: #c35427;
  border: 0px;
}

.fullPageNav button:hover {
  background-color: #000;
  color: #000;
}

.active {
  background-color: black;
  color: black;
}

@media screen and (max-width: 991px) {
  .fullPageNav {
    display: none;
  }
} */
