.thnks {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.thnks .thnksBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thnks h4 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  color: #fff;
  font-family: "SF-Bold";
  margin-bottom: 30px;
}

.primaryBtn {
  color: #fff;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 1px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.primaryBtn:hover {
  color: #fff;
}

.primaryBtn::after {
  content: url(../public/images/arrow.png);
  position: absolute;
  right: 0;
  top: 14px;
  opacity: 0;
  transition: all 0.5s;
}

.primaryBtn:hover::after {
  right: -25px;
  opacity: 1;
}
